/* Main Layout */
.login-container {
  display: flex;
  height: 100vh;
  background-color: #F5F7FA;
}

/* Left Side */
.login-left {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-left: 20px;
}

.logo-title {
  font-size: 28px;
  font-weight: 500;
  margin-left: 20px;
}

.login-illustration {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  object-fit: cover;
  margin-left: 20px;
}

/* Right side */
.login-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

/* Form Text */
.form-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-subtitle {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}

/* Inputs */
.form-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.form-input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  margin-bottom: 22px;
  font-size: 15px;
}

.password-wrapper {
  position: relative;
}

.password-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

/* Others */
.extras {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.forgot {
  background: none;
  border: none;
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

.btn-login {
  width: 100%;
  background-color: #1f2937;
  color: white;
  padding: 14px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.form-note {
  font-size: 12px;
  color: gray;
  text-align: center;
  margin-top: 10px;
}
